body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

#slider-vertical {
    height: 180px;
    width: 30px;
}

.ui-slider-handle {
    border: 1px solid black !important;
    width: 35px !important;
}

#map { 
    height: 100%;
}

.aptable {
    max-height: 300px;
    overflow: auto;
}
.aptable td {
    vertical-align: top;
}



.leaflet-top.leaflet-right  .legend{
    background-color: #fff7d0;
}

.legend {
    line-height: 18px;
    background-color: #fff7d0;
    border:2px solid #444;
    opacity: 1;
    padding: 6px;
    border-radius: 5px;
    color: #555;
    margin: 30px !important;
}

/* WARNING: 
 * Polygons use CSS Styles
 * The Legend uses HTML Styles! 
 * */
    .jenks { 
        background-color: #333333;
        fill: #333333; 
        fill-opacity: 0.7;
        stroke: #ffffff;
        stroke-opacity: 1;
        stroke-width: 2;
    }

    .jenks1 { fill: #ee0104; background-color: #ee0104;}
    .jenks2 { fill: #f77c2b; background-color: #f77c2b;}
    .jenks3 { fill: #ffe44c; background-color: #ffe44c;}
    .jenks4 { fill: #adde37; background-color: #adde37;}
    .jenks5 { fill: #05d00d; background-color: #05d00d;}


    #wifilegend {
        background: url('gradient.png') no-repeat;
        height: 100px;    
        width: 80px;
        padding-left: 0px;
        text-align: right;
    }
    #wifilegend div {
        text-align: left;
        margin-left: 20px;
        padding-left: 4px;
    }
    #morewifi {
        height: 68px;
    }
